
<%= form_for :associations, :url => new_association_path, :id => "associationForm", :method => 'get', :remote => true do |f| %>
		 <%= f.hidden_field :help %>
     <%= f.hidden_field :recipe, :value => @recipe.id %>
     <%= f.hidden_field :activeStep %>
     <%= f.hidden_field :selectedIngredient %>
     <%= f.hidden_field :selectedAmount %>
     
     <%= render :partial => 'recipes/modal', :locals => {:f => f} %>
     <div id="toolbox_modal"><%= render :partial => 'recipes/toolbox' %></div>
<% end %>