<% unless @recipe.cook_time == "" && @recipe.temperature == "" %>
<div class="recipe_settings">
	<div class="row">
		<div class="span1 column">
			<%= image_tag 'oven.jpg' %>
		</div>
		<div class="span2 columns">
			<div class="row">
				<%= @recipe.temperature %>
			</div>
			<div class="row">
				<%= @recipe.cook_time %>
			</div>
		</div>
	</div>

	<% unless @recipe.makes.nil? || @recipe.makes.empty? %>
	<div class="move_up">
		makes: <%= @recipe.makes %>
	</div>
	<% end %>
</div>
<% end %>

<div class="ingredient_list">
	<h3>ingredients</h3>
	<hr />
	<% @recipe.associations.list.each do |a| %>
		<div class="row">
			<%= "#{a.amount} #{a.ingredient.name}" %>
		</div>
	<% end %>

	<% @recipe.recipes_as_ingredients.each do |r| %>
		<div class="row">&nbsp;</div>
		<div class="row">
			<h3><%= "#{r.name}" %></h3>
			<hr />
		</div>

		<% r.associations.list.each do |a| %>
			<div class="row">
				<%= "#{a.amount} #{a.ingredient.name}" %>
			</div>
		<% end %>
	<% end %>
</div>