<%= form_for @recipe do |f| %>
  <div class="update_recipe modal" > 
    <div class="modal-header"> 
      <h3>edit recipe</h3>
      <a href="#" class="close">&times;</a> 
    </div> 
    <div class="modal-body"> 
      <div id="recipe_image">
        <%= image_tag(@recipe.image, :size => "70x70", :title => @recipe.name, :class => "ingredient") %>
      </div>
      <div class="clearfix">
        <%= label_tag :name, "name" %>
        <div class="input">
        <%= text_field_tag :name, @recipe.name, :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :cook_temp, "cook temp" %>
        <div class="input">
        <%= text_field_tag :cook_temp, @recipe.cook_temp, :class => "cook_temp" %>
        <%= select_tag :temp_unit, options_for_select(["","\u00B0 F","\u00B0 C","\u00B0 K"], @recipe.temp_unit) %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :cook_time, "cook time" %>
        <div class="input">
        <%= text_field_tag :cook_time, @recipe.cook_time, :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :makes, "makes" %>
        <div class="input">
        <%= text_field_tag :makes, @recipe.makes, :class => "xlarge" %>
        </div>
      </div>
        <p class="centered">create an ingredient based on this recipe for use in future recipes!</p>
      <div id="create_remove_ingredient">
        <%= create_remove_ingredient_button @recipe %>
      </div>
    </div>
    <div class="modal-footer"> 
      <div class="btn_left">
        <%= link_to "delete", recipe_path(@recipe), :confirm => "Are you sure?", :method => :delete, :id => "delete", :class => "btn danger" %>
      </div>
    	<%= f.submit "save", :class => "btn primary", :id => "submitRecipe" %>
      <a href="#" class="btn secondary" id="nevermind" >nevermind</a> 
    </div> 
  </div> 
<% end %>
<div id="mask"></div>