<div id="editbar" class="topbar" >
    <div class="container"> 
		<ul class="nav secondary-nav">
			<li><%= link_to '( details )', '#', :class => 'update' %></li>
			<li><%= link_to "( done )", @recipe %></li>
		</ul>
	</div>
</div>

<div class="container edit">
<div class="container-fluid">
	<div class="sidebar">
		<%= render :partial => 'ingredientList' %>
	</div>
	<div class="content">
		<div class="row">
			<h1><%= @recipe.name %></h1>
			<hr />
			
			<div class="span12 columns">
				<h3>steps</h3>
				<div id="allsteps">
					<%= render :partial => 'step_edit' %>
				</div>
				<div class="row">
					<div class="span1 column offset1">
						<%= new_step_button @recipe.id %>
					</div>	
				</div>
			</div>
		</div>
		<%= render :partial => 'form' %>
		<%= render :partial => 'update_recipe_modal' %>
	</div>
</div>
</div>
