
<style type="text/css">
body {
	background-color: gray;
}
</style>

<div id="impress">

<div class="span12 columns">
	<h3 id="step_header">steps</h3>
		<% @recipe.steps.ordered.each do |s| %>
			<div class="step slide" data-x="1000" data-y="<%= 1000 * s.step_num %>">
				<div class="pull-right"><h2 class="step_num"><%= s.number_string %></h2></div>
				<h1>what you need ... </h1>
				<hr />
				<div class="row">
				<% s.associations.ordered.each do |association| %>
					<div class="span1 column padright">
						<div class="association">
								<%= render association %>
						</div>
					</div>
					<% end %>
				</div>
				<br />
				<h1>here's what to do ... </h1>
				<hr />
				<%= s.note %>
			
			</div>
		<% end %>
</div>


</div>
<%= javascript_include_tag 'impress' %>