
<style type="text/css">
	html {
		overflow: hidden;
	}
	body {
		background: rgba(0,0,0,0.5);
	}
</style>

<div id="impress">

<div class="span12 columns">
	<h3 id="step_header">steps</h3>
		<% @recipe.steps.ordered.each do |s| %>
			<div id="<%= s.number_to_word %>" class="step slide" data-x="<%= spiral_x(s.step_num*300) %>" data-y="<%= spiral_y(s.step_num*300) %>" data-rotate="<%= (90 * s.step_num) - 90 %>">
				<div class="pull-right"><h2 class="step_num"><%= s.number_string %></h2></div>
				<h1>what you need ... </h1>
				<hr />
				<div class="row">
				<% s.associations.ordered.each do |association| %>
					<div class="span1 column padright">
						<div class="association">
								<%= render association %>
						</div>
					</div>
					<% end %>
				</div>
				<br />
				<h1>here's what to do ... </h1>
				<hr />
				<%= s.note %>
			
			</div>
		<% end %>
</div>
</div>
<div class="hint">
    <p>Use spacebar or arrow keys to navigate</p>
</div>

<%= javascript_include_tag 'impress' %>