<div class="container">
<% if @user == current_user %>
	<h3 class="user_title"><%= mine_or_theirs @user %> recipes</h3>
	<%= link_to "new recipe", '#', :class => "btn primary new" %>
	<%= render :partial => 'shared/new_recipe_modal', :locals => {:recipe => @recipe}%>
<% else %>
	<h3><%= mine_or_theirs @user %> recipes</h3>
<% end %>
<hr />

<% RECIPE_CATEGORIES.each do |category| %>
	<span class="label <%= @recipe.my_category %>"><%= link_to @recipe.my_category, :controller => "recipes", :action => "index", :c => @recipe.my_category %></span>
<% end %>

<div id="allrecipes">
	<%= render :partial => 'shared/recipes_list', :locals => { :recipes => @recipes } %>
</div>
</div>