<div class="modal hide fade" id="newRecipe" > 
  <%= form_for Recipe.new, :html => {:multipart => true} do |f| %>
    <div class="modal-header"> 
      <a href="#" class="close">&times;</a> 
      <h3 id="step_header">new recipe</h3>
    </div> 
    <div class="modal-body"> 
      <div class="clearfix">
        <%= label_tag :name, "name" %>
        <div class="input">
        <%= text_field_tag :name, '', :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :my_category, "category" %>
        <div class="input">
        <%= select_tag :my_category, options_for_select( RECIPE_CATEGORIES ), :style => "width:150px;" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :tags, "tags" %>
        <div class="input" id="tag_input" title="seperate with commas">
        <%= text_field_tag :tags, '', :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :cook_temp, "cook temp" %>
        <div class="input">
        <%= text_field_tag :cook_temp, '', :class => "cook_temp" %>
        <%= select_tag :temp_unit, options_for_select(["","\u00B0 F","\u00B0 C","\u00B0 K"]) %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :cook_time, "cook time" %>
        <div class="input">
        <%= text_field_tag :cook_time, '', :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :makes, "makes" %>
        <div class="input">
        <%= text_field_tag :makes, '', :class => "xlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :image, "image" %>
        <div class="input">
        <%= file_field_tag :image %>
        </div>
      </div>
    </div>
    <div class="modal-footer"> 
      <%= f.submit "create", :class => "btn primary", :id => "submitRecipe" %>
      <a href="#" class="btn secondary" id="nevermind" >nevermind</a> 
    </div> 
  <% end %>
</div> 

<script>
  $('#tag_input').twipsy({
          live: true,
          placement: 'right',
          offset: -95
    });
</script>