<%= will_paginate @recipes %>
<div class="no_pad">
<% @recipes.each do |recipe| %>
	<div class="row <%= cycle("odd","even") %> <%= is_last? recipe, @recipes.last %>">
		
		<% if @user && @user == current_user && @user.recipes.find(recipe.id) %>
			<div class="span1 column center">
				<%= public_private_button recipe %>
			</div>
		<% else %>
			<div class="span1 column">
				<%= image_tag recipe.user.profile.picture, :size => "40x40", :class => "float_left" %>
			</div>
		<% end %>
		
		<div class="span10 columns">
			<div class="block">
				<span class="bold">
					<%= link_to recipe.name, recipe %>
				</span>
				by <%= link_to recipe.user.name, recipe.user %>
			</div>
		</div>
	</div>
<% end %>
</div>