<div class="images">
		<% recipes.each do |recipe| %>
			<span class="image_box">
				<% if @user && @user == current_user && @user.recipes.find(recipe.id) %>
					<span id="p_<%= recipe.id %>"><%= public_private_button recipe %></span>
				<% end %>
						<% unless recipe.image_url(:preview).nil? %>
							<%= link_to (image_tag recipe.image_url(:preview), :class => "captify", :alt => recipe.name, :size => "150x150"), recipe %>
						<% else %>
							<%= link_to (image_tag 'recipe_placeholder.png', :class => "captify", :alt => recipe.name, :size => "150x150"), recipe %>
						<% end %>
			</span>
		<% end %>
</div>
<%= hidden_field_tag 'selected_category', selected_category %>

<script>
    $('img.captify').captify({
        speedOut: 'fast',
        className: 'caption-bottom',
        hideDelay: 0
    });
</script>