<!DOCTYPE html>
<html>
<head>
  <title>RcpFb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>

<script>
  // Load the FB SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
</script>

<div class="topbar"> 
  	<div class="fill"> 
	    <div class="container"> 
	    	<h3 class="bold"><%= link_to "rcp", root_path %></h3>
	    	<ul class="nav">
	    		<li><%= link_to "recipes", recipes_path %></li>
	    		<% if signed_in? %>
	    			<li><%= link_to "my recipes", current_user %></li>
	    		<% end %>
	    	</ul>
	      	<ul class="nav secondary-nav">
	      		<% if !signed_in? %>
		      		<li><%= link_to "sign in", signin_path, :class => "fb-login-button" %></li>
	      		<% else %>
		            <li class="menu"> 
		              <a href="#" class="menu"><%= current_user.name %></a> 
		              <ul class="menu-dropdown"> 
		                <li><a href="#">edit profile</a></li> 
		                <li><a href="#">settings</a></li> 
		                <li class="divider"></li> 
		                <li><%= link_to "sign out", signout_path %></li> 
		              </ul> 
		            </li> 
	            <% end %>
	        </ul> 
	  	</div>
 	</div>
</div>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
<% end %>

<%= yield %>
<!--<%= debug(params) if Rails.env.development? %>-->

</body>
</html>
